
header h1{
    text-align: center;
}

main section h2{
    text-align: center;

}

.flex-container{
    display: flex;
    flex-flow: row wrap;
}

.flex-item{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch
}

img{
    display: block;
    max-width: 100%;
    height: 400px;
}

.mySlides{
    display: none;
}
.demo{
    cursor: pointer
}

.catPrincipal{
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
